.list {
  width: 700px;

  &__item {
    font-size: 14px;
    cursor: pointer;
    transition: 200ms;

    &:nth-child(odd) {
      background-color: rgb(245, 245, 245);
    }

    &:hover {
      background-color: rgb(157, 157, 255);
    }
  }

  &__info {
    width: 50px;

    font-size: 12px;
    text-align: left;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    color: black;
  }
}

@media (max-width: 800px) {
  .list {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .list {
    width: 300px;

    &__item {
      font-size: 12px;
    }
  }
}
